.vscode/
.idea/
__pycache__/
*.ssmssln
*.ssmssqlproj
*.code-workspace

_greenscreen-tech-test

archives/

models/
tensorboard/
temp/
trash/

!gscreen/
!models/
models/predictions/*.csv

**/prediction_test_mgalkin_20210108.csv
**/*BaggingRegressor_20210203-1749*
data/processed/df_train_processed.csv
